* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: $baseFontSize;
  color: $black;
}

h1 {
  font-size: $titleh1;
  margin: 0 0 50px;
  color: $yellow;
}

h2 {
  font-size: $titleh2;
  margin: 0 0 25px;
}

h3 {
  font-size: $titleh3;
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
